* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color:rgb(100, 100, 100);
}

#root {
  height:100%;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

h4 {
  font-weight: 200;
  font-size: 20px;
}

.App {
  text-align: center;
  height: 100%;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.link {
  text-decoration: none;
}

.popover {
  display:block;
  width: 30%;
  position:absolute;
  left: 35%;
  background-color:rgb(50, 50, 50);
  border-radius: 15px;
  border: 1px solid grey;
  z-index:999;
  margin-top:40px;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
  color: rgb(220, 220, 220);
}

.popover h4 {
  margin: 20px 0;
  padding: 0;
}

.popover p {
  width: 80%;
  margin: 0 0 20px 10%;
}

.infoFader {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 998;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading svg {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
  margin: 20% auto 0 auto;
}

.loading {
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: rgb(200, 200, 200);
}
