.CMS {
  display:flex;
  height:95%;
  width: 1240px;
  margin: 0 auto;
  min-height: 700px;

}

.assetContainer, .eventContainer {
  width: 420px;
  height: 100%;
  text-align:left;
  position:relative;
}

.storyInfo {
  width: 350px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 5px;
}

.storyInfo h2 {
  font-weight:200;
  margin-top: 5px;
}




.storyInfo button {
  margin: 5px 5px 0 5px;
  color:rgb(220, 220, 220);
  font-size: 22px;
  line-height: 20px;
}

.storyInfo button:hover {
  color: rgb(50, 50, 50);
  cursor: pointer;
}

.storyInfo div {
  display: flex;
  align-items: center;
}

.storyInfo div button:nth-child(1) {
  font-size: 20px;
  margin-bottom: 2px;
}

.saveBar {
  height: 28px;
  width: 350px;
  margin: 0 auto;
}

.eyeball {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color:rgb(75, 75, 75);
  padding: 2px;
  padding-left:3px;
  border-radius: 2px;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  color: black !important;
  margin: -13px -10px 0 10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/*.eyeball div {
  position: absolute;
  width: 20px;
  height:20px;
  font-size: 18px;
  line-height: 22px;
}
.eyeball div:first-child {
  z-index: 500;
}*/

h4 {
  display:inline-block;
  margin-left:10%;
  vertical-align: bottom;
  padding-top:20px;
  padding-bottom: 5px;
  color:rgb(220, 220, 220);

}

.add {
  position: absolute;
  right: 45px;
  top: 52.5px;
  font-size:25px;
  color:rgb(220, 220, 220);
}


.eventContainer .add {
  top: 12.5px;
}

.add:hover {
  cursor: pointer;
  color: rgb(60,60,60);
}

.add button:hover {
  cursor:pointer;
}



 ul {
  width: 350px;
  margin:0 auto;
  overflow:scroll;
  height: calc(85%);
  background-color: rgb(50, 50, 50);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid grey;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
/*  box-shadow: inset 0 0 5px rgba(0,0,0,0.7);*/
}

.assetContainer ul {
  height: calc(85% - 40px);
}

.asset:first-child {
  margin-top: 8px;
}

.asset {
  display:flex;
  position:relative;
  align-items: top;
  list-style-type: none;
  background-color: rgb(70, 70, 70);
  margin: 4px 0;
  text-align:center;
  padding-top:40px;
  width: calc(100% - 10px);
  border-radius: 10px;
  box-shadow: 0 0 0 1pt grey;
/*  box-shadow: 0 0px 5px rgba(0,0,0,0.8);
*/}


.eventContainer .saveBar button {
  color:rgb(220, 220, 220);
  font-size: 25px;
  height: 25px;
  width: 24px;

}

.eventContainer .saveBar button svg {
  position:relative;
}

.eventContainer .saveBar button:hover {
  color: rgb(20, 20, 20);
  cursor:pointer;
}

.asset:hover, .event:hover {
}


.cellContent {
  height: 80px;
  margin:-40px 10px 10px 0;
  width: 230px;
  display:flex;
  color:rgb(220, 220, 220);
}

.expandArrow {
  font-size:20px;
  display:block;
  position: absolute;
  top:30px;
  right:15px;
  cursor:pointer;

}

.expandArrow:hover {
  color: grey;
}



.cellContent h2 {
  font-weight: 400;
  font-size:14px;
}

.cellContent p {
  font-size:11px;
  font-weight: 100
}

.cellContent .imageContainer {
  margin:5px 20px 0 10px;
  height:70px;
  width:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden
}

.cellContent img {
  flex-shrink:0;
  -webkit-flex-shrink: 0;
  max-width:100%;
  max-height:100%;
}

.cellContent > div:nth-child(2){
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  height:70px;
  margin-top:5px;
  width:calc(230px - 80px);

}

.cellForms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:40px;
}


.selected {
  background-color: rgb(90, 90, 90);
  color: rgb(235, 235, 235);
  box-shadow: 0 0 0 1pt rgba(200, 200, 200)

}



.dragHandle  {
  display:block;
  position: relative;
  padding-left: 1.75em;
  cursor: row-resize;
  margin-left:20px;
}

.dragHandle:before {
  content: "";
  position: absolute;
  top: -0.45em;
  left: 0;
  width: 1.5em;
  height: 0.15em;
  border-top: 0.45em double #000;
  border-bottom: 0.15em solid #000;
}

.dragHandle:active {
  cursor: row-resize;
}

.previewContainer {
  width: 400px;
  background-color:rgb(80, 80, 80);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

}

.previewContainer .screen {
  width:333px;
  height: 592px;
  overflow: hidden;
  margin: 0px 0 50px 0;
  align-self: center;
  flex-shrink: 0;
  position:relative;
  background-color:white;
  border: 1px solid black;
}

.scrollControl {
  width: 100%;
  text-align: center;
  margin: 10px 0 18px 0;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.play, .pause {
  color:rgb(220, 220, 220);
  font-size: 20px;
  margin: -2px 5px 0 15px;
  font-weight: 800;
  text-shadow: 0 1px 3px rgba(0,0,0,0.9)
}

.pause {
  margin-top: -6px;
}



.play:hover, .pause:hover {
  color: grey;
  cursor: pointer;
}


.previewContainer input {
  width: 50px;
  height: 18px;
  font-size:12px;
  text-align: center;
  display:inline-block;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  margin: 0 5px;
  padding: 2px 0;
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.rangeslider-horizontal {
  width: 65%;
  display:inline-block;
  margin: 0px 15px 0 0 !important;
  background-color: rgb(230, 230, 230);
  border-radius: 6px !important;
  box-shadow: none !important;
  background-color: rgb(60, 60, 60) !important;

  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5) !important;


}


.rangeslider-horizontal .rangeslider__fill {
  background-color: rgb(20, 20, 20) ;
  border-radius: 6px !important;
    box-shadow: none !important;


}

.rangeslider__labels {
  display: none !important;
}

.rangeslider__handle {
  border-radius: 0 !important;
  height: 20px !important;
  box-shadow:none !important;
  border: none !important;
  width:36px !important;
  border-radius: 5px !important;
  background-color: rgb(220, 220, 220) !important;
  box-shadow: 0 2px 2px  rgba(0,0,0,0.5) !important;

}

.rangeslider__handle:active {
  background-color:rgb(255, 255, 255) !important;
}

.rangeslider__handle:after {
  display: none !important;
}

.rangeslider__handle-label {
  font-size: 12px;
  margin-top: 2px;
}

.event {
  display:flex;
  position:relative;
  list-style-type: none;
  background-color: rgb(70, 70, 70);
  margin: 5px 0;
  height: 100px;
  width: calc(100% - 10px);
  border-radius: 10px;
  box-shadow: 0 0 0 1pt grey;
  flex-shrink: 0;
  justify-content: space-around;
  color: rgb(220, 220, 220);
}

.event .left, .event .right {
  width:40%;
}

.event .right {
  margin: 0 5% 0 0;
}

.event .left {
  margin: 0 0 0 5%;
}
.event p {
  margin: 2px 0;
  font-size: 11px;
  font-weight: 100;
}

.event h4 {
  font-weight: 400;
  font-size:14px;
  margin: 0;
  padding: 0;
}

.event p:hover, .event h4:hover {
  cursor:default;
}

.top, .bottom {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:50px;
  font-size: 13px;
}

.top {
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}



.eventButtons {
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:30px;
  width: 100%;
  padding: 5px 0;
  margin: 5px 0;
}

.eventButtons button {
  width: 20%;
}

.eventButtons button:hover {
  color:grey;
  cursor:pointer;
}

.cellForms input {
  border: 1px solid black;
}

.storyInfoPopover {
  position:absolute;
  z-index: 999;
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
  border: 1px solid grey;
  border-radius: 15px;
  margin: auto ;
  width:500px;
  left: calc(50% - 250px);
  display:none;
    box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);

}

.storyInfoPopover h4 {
  margin:0 0 20px 0;
}

.storyInfoPopover p {
  color: rgb(200, 200, 200);
  font-size: 14px;
  letter-spacing: 1.2px;
  width: 85%;
  max-width: 300px;
  text-align: left;
  margin: 0 auto;

}

.storyInfoPopover button {
   padding: 10px 20px;
  border-radius: 20px;
  margin: 10px 0;
  margin-bottom: 30px;
  background-color:rgb(220, 220, 220);
  color:black;
    box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.6);
  font-size: 14px;


}

.storyInfoPopover button:hover {
    background-color:rgb(180, 180, 180);
    cursor:pointer;

}

.storyInfoPopover input[type=text], .storyInfoPopover textarea {
  display:block;
  padding: 10px 15px;
  border-radius: 20px;
  width: 85%;
  max-width: 300px;
  margin: 10px auto;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);
  font-size: 12px;
}

.fader {
  position:absolute;
  width: 100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 998;
  margin: 0;
  display:none;

}

.active {
  display: block;
}

.previewAsset {
  position:absolute;
  background-position: center;
  background-size:contain;
}

.hidden {
  display:none !important;
}

.highlighted {
  background-color: rgb(90, 90, 90);
  color: rgb(235, 235, 235);
  box-shadow: 0 0 0 1pt rgb(200, 200, 200);

}

.grey {
  background-color:grey;
}

.grey:hover {
  cursor: default
}

.flagged {
  color:red !important;
}


.expandedEvent {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 1pt black;
  padding: 0;
  margin: 0;
  width: calc(100% - 10px);
  border-radius: 10px;
  margin: 5px 0;
  overflow:hidden;
  flex-shrink: 0;
  position:relative;
  background-color:rgb(70, 70, 70);
  color: rgb(220, 220, 220);
}

.eventForms {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.eventForms .left, .eventForms .right {
  width: 45%;
  padding: 0px 2.5% 5px 2.5%;
  margin: 5px 0;
  display:flex;
  flex-direction: column;
}

.eventForms .left {

}

.eventForms .right {
  border-left: 1px solid black;
  margin-left: -1px;
}

.eventForms h4 {
  margin: 0 0 0 15px;
  padding: 0;
  font-size:14px;
  font-weight: 400;
}

.eventForms label {
  font-size: 12px;
  width: 90%;
  margin: 5px 2.5% 0 5px;
  font-weight: 100;

}

.eventForms > div > label {
}

.eventForms input {
  margin: 2px 2.5% 5px 2.5%;
  padding: 5px 8px;
  border-radius: 5px ;
  width: 50%;
  color:black;
  font-weight: 100;
  font-size: 10px;
  box-shadow: 0 0 0 0.5pt black;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);

}

.eventForms .left .inputContainer div input, .eventForms .right .inputContainer div input {
  width: 25%;
}

.eventForms .left .inputContainer label, .eventForms .right .inputContainer label {
  width: 15%;
  margin: 5px 2%;
  font-size: 11px;
}

.eventContainer .expandArrow {
  top: 40px;
}

.expandedEvent .expandArrow {
  position: initial;
}

.eventDelete {
  font-size: 16px;
}

.expandedEvent button:hover {
  color: grey;
  cursor:pointer;
}

.eventDelete:hover {
  color:red !important;
}

.greyOut {
  color: red;
}

.imageUploader {
  width: 200px;
  position: absolute;
  z-index:999;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  margin-left: calc(50% - 130px);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(220, 220, 220);
  padding: 30px;
  border: 1px solid grey;
      box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);

}

.imageUploader input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.imageUploader label {

}


.imageUploader button {
  background-color: rgb(50, 50, 50);
  border: 1px solid grey;
  display: inline-block;
  padding: 5px 10px;
  width: 60px;
  border-radius: 10px;
  margin: 0 10px;
  color: rgb(220, 220, 220);

}

.imageUploader button:hover {
  background-color: rgb(70, 70, 70);
  cursor: pointer;
}

.imageUploader h3 {
  font-weight: 400;
}

.imageUploader * {

}

.red {
  background-color: rgba(255, 0, 0, 0.1);
}



.file-input-wrapper {
    width: 140px;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type=file] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 110px;
    height: 30px;
    background-color: rgb(220, 220, 220);
    box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.6);
    font-size: 12px;
    margin-top: 25px;
    padding: 5px 10px;
    color: black;
    border: none;

}

.file-input-wrapper > .btn-file-input:hover {
  color:rgb(200, 200, 200);
}

.cellForms {
  font-size: 12px;
  color: black !important;
  margin: 0;
  margin-top: -30px;
  width: 80%;
  margin-left: 10%
}

.cellForms p {
  margin: 5px;
  color: rgb(220, 220, 220);
  text-align: left;
  width: 60%;
}


.cellForms input {
  margin: 2px;
  padding: 5px 8px;
  border-radius: 5px ;
  color:black;
  font-weight: 100;
  width: 60%;
  font-size: 10px;
  box-shadow: 0 0 0 0.5pt black;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);
  border:none;
}

.defaultStyle {
  margin: 15px 0px 5px -20px !important;
  text-decoration: underline;
}



.expanded {
    background-color:rgb(70, 70, 70);

}

.expanded .eyeball {
  display:none;
}

.expanded span {
  display:none;
}

.expanded .expandArrow {
  position: absolute;

}

.deleteAsset {
  font-size: 16px;
  margin: 10px;
}

.deleteAsset:hover {
  color: red;
  cursor:pointer;
}

.coordinate {
  display:flex;
}

.coordinate input {
  width: 50px ;
}

.dateModified {
  color: rgb(220, 220, 220);
  font-size: 12px;
  margin-bottom: -14px;
  margin-left: 60px;
  font-weight: 200;
  margin-top: 2px;
}
















