header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30);
  height: 40px;
  border-bottom: 2px solid rgb(50,50,50);

}

nav {
  display:flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;

}

nav * {
  text-align: center
}

nav .link {
  color: rgb(200, 200, 200);
  font-size: 14px;
  letter-spacing: 1.2px;
  padding-bottom:5px;
  margin: 5px 10px 0px 10px;
  }

nav .link:hover {
  color:grey;
}

nav .pressed {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.userLinksContainer .link {
  display: block;
}

.headerTitle {
      font-family: 'Consolas','Menlo','Monaco','Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New', monospace, sans-serif;
      font-size: 18px;
      color: rgb(220, 220, 220);
      margin-left: 25px;
}

.headerTitle:hover {
  color: grey;
}

.home {
  display:flex;
  align-items: center;
}

.beta {
  display:inline;
  color: rgba(255, 0, 0, 0.7);
  padding: 5px;
  font-size: 12px;
  margin-top:-10px;
}
