.landing {
  display:flex;
  justify-content: center;
  align-items: center;
}

.landing div {
  width: 33.3%;
  color: rgb(220, 220, 220);
  background-color: rgb(50, 50, 50);
  border: 1px solid grey;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  font-weight: 200;
  line-height: 30px;
  margin-top: 100px;
}

.landing h2 {
  font-weight: 400;
  font-family: 'Consolas','Menlo','Monaco','Lucida Console','Liberation Mono','DejaVu Sans Mono','Bitstream Vera Sans Mono','Courier New', monospace, sans-serif;
  display: inline-block`;

}

.landing a {
  text-decoration: none;
  background-color: rgb(50, 50, 50);
  padding: 5px 8px;
  border-radius: 10px;
  color:rgb(220, 220, 220);
  border: 1px solid grey;
  box-shadow: 0 2px 2px 1pt rgba(0,0,0,0.5);
  margin: 0 5px;
}

.landing a:hover {
  background-color: rgb(70, 70, 70);
  cursor:pointer;
}

.landing span {
  color:rgba(255, 0, 0, 0.8);
  font-size: 12px;
  display:inline-block;
  vertical-align: super;

}


