.myStories h4 {
  margin: 20px auto;
  padding: 0;
  color: rgb(220, 220,220);
  font-weight: 200;
  font-size: 30px;
}

.myStories .stories {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.storyThumb {
  width: 250px;
  padding: 10px 8px 20px 8px;
  border-radius: 15px;
   border: 1px solid grey;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
  background-color:rgb(50, 50, 50);
  margin: 10px;
  height: 100px;
}

.storyThumb:hover {
  background-color: rgb(70, 70, 70);
  cursor:pointer;
}

.storyThumb h2, .storyThumb p {
  color: rgb(220, 220, 220);
}

.storyThumb h2 {
  font-weight:200;
  font-size: 18px;
  height: calc(25% + 20px);

}

.storyThumb p {
  font-weight: 200;
  font-size: 12px;
  border-bottom: 1px solid rgb(220, 220, 220);
  height: 25%;

}

.myStories .empty {
  width: 268px;
  height: 122px;
  border: 2px dotted rgb(140, 140, 140);
  margin: 10px;
  border-radius: 15px;
}
