.tutorialFeed {
  color: rgb(220, 220, 220);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.tutorialFeed p {
  padding: 10px 0 20px 0;
  width: 350px;
}

.tutorialFeed ol {
  text-align: left;
  padding: 20px 40px;
  width: 30%;
  max-width: 500px;
  display:flex;
  flex-direction: column;
  height: initial;
  border-radius: 15px;
  border: 1px solid grey;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
  background-color: rgb(50, 50, 50);
}

.tutorialFeed ol li {
  font-weight:300;
  align-self: flex-start;
  padding: 10px 0;
}

.tutorialFeed h4 {
  margin: 0px 0 0px 0;
  font-size: 25px;
}

/*chmod 400 terse.pem
ec2-18-218-138-61.us-east-2.compute.amazonaws.com
ssh -i "terse.pem" ec2-user@ec2-18-218-138-61.us-east-2.compute.amazonaws.com

echo "[mongodb-org-4.0]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/4.0/x86_64/
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-4.0.asc" |
  sudo tee -a /etc/yum.repos.d/mongodb-org-4.0.repo*/

