
.userAuth {
  width: 40%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(50, 50, 50);
  margin: 40px auto 0 auto;
  padding: 10px;
  border-radius: 15px;
   border: 1px solid grey;
  box-shadow: 0 2px 10px 1pt rgba(0,0,0,0.9);
  position:relative;
}

.userAuth h4 {
  margin: 10px auto 20px auto;
  padding:0;
  width: 100%;
  align-self: flex-start;
  font-weight:500;
  font-size: 30px;
  max-width: 300px;
  text-align: left;
  color: rgb(220, 220, 220);
}

.userAuth form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userAuth input[type=text],.userAuth input[type=password], .userAuth input[type=email] {
  display:block;
  padding: 10px 20px;
  border-radius: 20px;
  width: 85%;
  max-width: 300px;
  margin: 10px 0;
  box-shadow: inset 0 0 2px 1pt rgba(0,0,0,0.5);
  background-color: rgb(60, 60, 60);
  color: rgb(220, 220, 220);
  font-size: 14px;
}

.userAuth .checkbox {
  width:20px;
  height: 20px;
  display: inline-block;
  color:rgb(220, 220, 220);
}

.userAuth form div p {
  font-size:12px;
  line-height: 20px;
  padding-left: 10px;
  color: rgb(220, 220, 220);
  width: 92%;
  text-align: left;

}

.userAuth form div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  height: 80px;
}

.userAuth form button {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px 0;
  background-color:rgb(220, 220, 220);
  color:black;
  box-shadow: 0 1px 5px  rgba(0,0,0,0.5);
  font-size: 14px;

}

.userAuth form button:hover {
  background-color:white;
  cursor: pointer;
}

.switchAuth {
  position: absolute;
  right: 20px;
  color:rgb(180, 180, 180);
  font-size: 12px;
  text-decoration: none
}

.switchAuth:hover {
  color:grey;
  cursor: pointer;
}
